@font-face {
	font-family: DOS;
	src: url(assets/Px437_DOS-V_re_ANK24.ttf);
}
@font-face {
	font-family: Fake Receipt;
	src: url(assets/fake\ receipt.otf);
	font-weight: 100;
}
@font-face {
	font-family: Gellisto;
	src: url(assets/Gellisto.ttf);
}
@font-face {
	font-family: Mario;
	src: url(assets/Mario64.ttf);
}
@font-face {
	font-family: Sprayers;
	src: url(assets/Sprayerz\ DEMO.ttf);
}
@font-face {
	font-family: Swiss;
	src: url(assets/SwissGrit.otf);
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body {
    margin: 0;
}

/* BG  */
.container {    
    background: #ffffff;
}

/* MENU */
.daloy-text, .menu-open .about-us {
    color: #000;
}

.menu-close{
    color: #fff;
}

.daloy-text {    
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    font-size: 20px;
	color: #fff;
    font-weight: 700;
}

.daloy-text:hover{
    gap: 20px;
}

.menu-open, .menu-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

.about-us {
    position: absolute;
    top: 0;
    right: 10%;
    padding: 40px;
    font-size: 20px;
    cursor: pointer;
}

#aboutus{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.logo-img {
    max-width: 80px; 
    position: absolute;
	top: 20px;
    left: 35px;
}
  
.nav-container {
    position:relative;
    left: -150%;
    width: 100%;
    height: 100vh;
    background: #000000;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.10, 0.5, 0.3, 1);
}  

.menu {
    text-transform: uppercase;
    padding: 5vh 15vh 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    font-weight: 700;
}

.menu-item-link {
    font-size: 100px;
    cursor: pointer;
    transition: opacity 0.1s;
    line-height: 100px;
    text-decoration: none;
    color: #ffffff;
}

.socials {
	position: absolute;
	bottom: 0;
    right: 0;
    padding: 2em 2em;
}
.socials span {
	text-transform: uppercase;
    padding: 0 1em;
	letter-spacing: 0px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}

.nav-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 22px;
    display: flex;
    justify-content: space-between;
}

.nav-footer a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    padding: 0 1em;
    font-weight: 700;
}

/* Typing */
.header {
    position: absolute;
    width: 100%;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 70px;    
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END MENU */
/* starts content below */
.content {
    position: absolute;
    width: 100%;
}

/* ABOUT SEC */
.story {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(150, 175, 215);
    min-height: 100vh;
}
  
.about-container {
    display: flex;
    justify-content: space-between; 
    width: 80%;  
    margin: 0 auto;  
}
  
.left-column {
    width: 20%;
}
  
.right-column {    
    padding-left: 50%;
    width: 100%;
}
  
.about-number {
    color:rgb(13, 13, 165);    
    font-weight: 800;
    font-size: 20px;
}
  
.about-subheading {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;    
    font-weight: 700;
}
  
.about-heading {
    color: rgb(13, 13, 165);    
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 1px;
}
  
.about-info {
    font-size: 24px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
  
.more {
    margin: 40px 0;
    color: white;
}



/* Customer Care*/

.customer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}
#customer-form {
    margin: 5% 0;
}

.customer .icon-title {
    margin-top: 10px;
    color: #000;
}

#customer-form ul {
    list-style: none;
    margin-bottom: 40px;
    border-radius: 0;
}

#customer-form li:last-of-type {
    border-bottom: none;
}

#customer-form label {
    display: block;
    font-size: 22px;
    color: rgb(97, 97, 97);
}

#customer-form input, #customer-form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #101010;
    font-weight: bolder;
}

input:focus {
    outline: none !important;
    border: none !important;
}

textarea:focus {
    outline: none !important;
    border: none !important;
}

.textarea {
    border-bottom: 1px solid #c9c9c9;
}


/* Register */


@media (max-width: 1000px) {
    .menu-item-link {
      font-size: 10vw;
      line-height: 70px;
    }
    #customer-form {
        margin: 5% 0;
        width: 98%;
  }
}
  