@font-face {
    font-family: Atari;
    src: url(assets/AtariST8x16SystemFont.ttf);
 }
body {
  background-image: -webkit-linear-gradient(-45deg, #050512 40%, #050505 50%);
  color: lightskyblue;
  font-family: Atari, Courier, monospace;
  background-repeat: no-repeat;
   
 
}
 
glowing {
   -webkit-animation-duration: 0.1s;
   -webkit-animation-name: glow;
   -webkit-animation-direction: alternate;
   -webkit-animation-iteration-count: infinite;
   animation-duration: 0.1s;
   animation-name: glow;
   animation-direction: alternate;
   animation-iteration-count: infinite;
}
 
 
#monitor {
  width: 1200px;
  height: 924px;
  margin-left:auto;
  margin-right:auto;
  background-image: url(tv6.png),url(tausta2.png);
  background-repeat: no-repeat, repeat;
  box-shadow: 50px 50px 50px #050511, 4px 4px 4px 4px #050511 inset;
  opacity: 0.85;
}
 
#crt2{
  position: absolute;
  width: 1050px;
  height: 760px;
  left: 51%;
  margin-left: -590px;
  margin-top: 50px;
  background-image: url(crt2.gif);
  background-repeat: no-repeat;
 
}
 
#crt1{
  position: absolute;
  width: 1200px;
  height: 924px;
  left: 50%;
  margin-left: -600px;
  background-image: url(crt1.gif);
  background-repeat: no-repeat;
  opacity: 0.25;
  display: none;
}
 
 #crt59{
  position: absolute;
  width: 1200px;
  height: 924px;
  left: 50%;
  margin-left: -600px;
  background-image: url(tv59.gif);
  background-repeat: no-repeat;
  opacity: 0.25;
  display: none;
 }
 
#introarea {
  padding-top: 150px;
  padding-left: 150px;
  opacity: 0.75;
  color: #03ff00;
 
 }

 #msgarea {
  padding-left: 150px;
  color: #03ff00;
  opacity: 0.75;
}
 
#input {
  padding-left: 20px;
  margin-right: 20px;
  width: 40%;
  float: left;
  overflow:hidden;
  color: rgb(195, 255, 192);
  padding-top: 150px;
  opacity: 0.75;
}
 
 #output {
   width: 50%;
   float: left;
   overflow:hidden;
   color: lightskyblue;
   opacity: 0.75;
 }
 a{
     color: lightskyblue;
     opacity: 0.75;
 }
 
 img{
 
   position: absolute;
   border: 12px solid transparent;
   padding: 2px;
   -webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
   -o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
   border-image: url(border.png) 30 round;
   background-color: black;
   opacity: 1;
 
 -webkit-filter: drop-shadow(8px 8px 12px #272751);filter: drop-shadow(8px 8px 12px #272751);
     color: #5050FF;
     opacity: 0.75;
 }
 
 
 
 iframe{
   position: absolute;
   border: 12px solid transparent;
   padding: 2px;
   -webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
   -o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
   border-image: url(border.png) 30 round;
   background-color: black;
   opacity: 0.75;
 
 -webkit-filter: drop-shadow(8px 8px 12px #272751);filter: drop-shadow(8px 8px 12px #272751);
     color: #5050FF;
     opacity: 0.75;
 }
 a:hover {
     background-color: #0000ff;
     opacity: 0.8;
 }
 
 @-webkit-keyframes glow {
   from { text-shadow: 0 0 0px rgba(51, 247, 220, 0.150); }
   to { text-shadow: 0 0 20px rgba(18, 184, 250, 0.350); }
 }
 
 /* The Modal (background) */
 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 102;
   top: 102;
   width: 82%; /* Full width */
   height: 65%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,1); /* Black w/ opacity */
   opacity: 1;
 }
 
 /* Modal Content (image) */
 .modal-content {
   margin: auto;
   display: block;
   width: 100%;
   max-width: 700px;
   left: 20px;
   opacity: 1;
 }
 
 /* Caption of Modal Image */
 #caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
 }
 
 /* Add Animation */
 .modal-content, #caption {    
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 0.6s;
   animation-name: zoom;
   animation-duration: 0.6s;
 }
 
 @-webkit-keyframes zoom {
   from {-webkit-transform:scale(0)} 
   to {-webkit-transform:scale(1)}
 }
 
 @keyframes zoom {
   from {transform:scale(0)} 
   to {transform:scale(1)}
 }
 
 /* The Close Button */
 .close {
   position: absolute;
   top: 15px;
   right: 135px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
 }
 
 .close:hover,
 .close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
 }
 
 /* 100% Image Width on Smaller Screens */
 @media only screen and (max-width: 700px){
   .modal-content {
       width: 100%;
   }
 }
 